@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-background: #F3F5FC;
    --color-principal: #0A3871;
    --color-fuente-secundario: #495057;
    --White: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {

    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;

}

header {
    width: 100%;
    background-color: var(--color-background);
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.header-menu {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 0px 40px;
}

.header-menu-link img {
    height: 40px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background: var(--color-background);
    box-sizing: border-box;
    flex-grow: 1;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    padding: 20px 0px 0px 150px;
}

.textarea::placeholder {
    color: var(--color-principal);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.input-section textarea {
    width: 100%;
    height: 55vh;
    background-color: var(--color-background);
    border: none;
    outline: none;
    color: var(--color-principal);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.input-section p {
    color: var(--color-fuente-secundario);
    opacity: 0.8;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 15px;
}

.input-section .buttons,
.content-container .buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: nowrap;
}

.input-section button,
.content-container button {
    width: 328px;
    height: 55px;
    padding: 24px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.input-section button.primary {
    background-color: var(--color-principal);
    color: var(--color-background);
}

.input-section button.secondary,
.content-container button.secondary {
    border: 1px solid var(--color-principal);
    background: #D8DFE8;
    color: var(--color-principal);
}

.text-button {
    flex: 1 0 0;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.output-section {
    width: 380px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 32px;
    background: var(--White, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: -70px 30px 0px 30px;
    top: 50%;
    position: relative;
    box-sizing: border-box;
}

.content-container button {
    width: 328px;
    height: 55px;
    padding: 24px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.output-section button {
    width: 326px;
    height: 55px;
    padding: 24px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8DFE8;
    color: var(--color-principal);
    position: absolute;
    bottom: 10.7px;
    left: 50%;
    transform: translateX(-50%);
}

.output-section img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.output-section h3,
.output-section p {
    margin: 10px 0;
}

.output-section h3 {
    color: #343A40;
    margin-bottom: 10px;
    align-self: stretch;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.output-section p {
    color: #555555;
    text-align: center;
    align-self: stretch;
    color: var(--color-fuente-secundario) ;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
}

.output-response {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    color: var(--color-fuente-secundario);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.button1 {
    flex: 1;
    position: relative;
}

.button {
    width: 328px;
    height: 54px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid var(--color-principal);
    color:var(--color-principal);
    top: 83%;
    margin-right: 50%;
}



.footer {
    height: 2.5rem;
    background-color: var(--color-fuente-secundario);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}


/* Estilos para tablets con un ancho de 768px */
@media (min-width: 768px) and (max-width: 1024px) {

    .main-container {
        justify-content: start;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .input-section {
        margin: 0px 10px 40px -100px;
        text-align: justify;

    }

    #buttons-container {
        flex-wrap: nowrap;
    }


    .output-section img {
        display: none;
    }

    .output-section {
        width: 700px;
        height: auto;
        position: relative;
        line-height: 150%;
        display: inline-block;
        padding: 20px;
        margin: 20px 40px 0px 45px;
    }

    #parrafo {
        color: var(--color-fuente-secundario) ;
        font-size: 24px;
        font-family: Inter;
        font-weight: 400;
        line-height: 36px;
        text-align: justify;
    }

    .button1 {
        flex: 1;
        position: relative;
    }

    .button {
        width: 100%;
        position: relative;
        border-radius: 24px;
        border: 1px solid var(--color-principal);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        padding: 24px;
        text-align: center;
        font-size: 16px;
        color:var(--color-principal);
        font-family: Inter;
    }




}

/* Estilos para celulares*/
@media (max-width: 767px) {

    .header-menu-link .top {
        position: absolute;
        top: 24px;
        left: -16px;
    }

    .main-container {
        width: auto;
        margin: 0 auto;
        padding: 20px;
        margin-top: 45px;
    }

    .content-container {
        flex-direction: column;
        max-width: 100%;
    }

    .input-section {
        width: 100%;
        margin-right: 5px;
        padding: 20px 0px 0px 0px;
    }

    .input-section p {
        padding: 15px 0px 15px 0px;
    }

    #text-input {
        width: 100%;
    }

    .buttons {
        flex-direction: column;
        margin-bottom: 100px;
        max-width: 100%;
        align-items: center;
        text-align: center;
        position: relative;
    }

    .primary .secondary {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .output-section {
        max-width: 100%;
    }

    #buttons-container {
        flex-wrap: nowrap;
    }


    .output-section img {
        display: none;
    }

    .output-section {
        height: auto;
        position: relative;
        line-height: 150%;
        display: inline-block;
    }

    .input-section .buttons,
    .content-container .buttons {
        display: flex;
        gap: 8px;
        justify-content: center;
        flex-direction: row-reverse;
    }

    #parrafo {
        color: var(--color-fuente-secundario) ;
        font-size: 24px;
        font-family: Inter;
        font-weight: 400;
        line-height: 36px;
        text-align: justify;
    }

    .button1 {
        flex: 1;
        position: relative;
    }

    .button {
        width: 100%;
        position: relative;
        border-radius: 24px;
        border: 1px solid var(--color-principal);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        padding: 24px;
        text-align: center;
        font-size: 16px;
        color:var(--color-principal);
        font-family: Inter;
    }


}